@font-face {
  font-family:'hcuti';
  src:url("../fonts/HanHei-SC-semibold.woff") format("woff");
}
@font-face {
  font-family:'hzhengchang';
  src:url("../fonts/HanHei-SC-text.woff") format("woff");
}
@font-face {
  font-family:'hxiti';
  src:url("../fonts/HanHei-SC-thin.woff") format("woff");
}
@font-face {
  font-family:'mcuti';
  src:url("../fonts/myriad-set-pro_semibold.woff") format("woff");
}
@font-face {
  font-family:'mxiti';
  src:url("../fonts/myriad-set-pro_thin.woff") format("woff");
}
@font-face {
  font-family:'mjixiti';
  src:url("../fonts/myriad-set-pro_extrathin.woff") format("woff");
}
@font-face {
  font-family:'mzhengchang';
  src:url("../fonts/myriad-set-pro_text.woff") format("woff");
}
@font-face {
  font-family:'jiantou';
  font-weight: 100;
  font-size: 100px;
  font-style: normal;
  src:url("../fonts/ux_1469416536_060599/iconfont.woff") format("woff");
}